/* Colors */
:root{
  /* Colors */
  /* Utilities */
  --white-pure:        #ffffff;
  --white:             #F4F7F6;
  --white-pearl:       #F6F6F6;
  --grey-ultra-light:  #888888;
  --grey-light:        #6A6E71;
  --grey:              #555555;
  --grey-deep:         #474A4F;
  --black:             #222629;
  --blackest:          #000000;
  --yellow-green:      #00B22D;
  --yellow-green-dark: #199939;
  --highlight-green:   #0ABF9E;
  --congo-pink:        #FF847C;
  --scarlet:           #F92672;

  /* Padding */
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}



h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway', sans-serif !important;
  color: var(--black) !important;
  font-weight: 500;
}

form{
  font-family: 'Open Sans', sans-serif !important;
  color: black !important;
  font-size: 1rem !important;
}

.jumbotron{
  background-color: #F7F7F9 !important;
}

.btn-success{
  background-color: var(--yellow-green) !important;
}
.btn-success:hover{
  background-color: var(--yellow-green-dark) !important;
}

.blue-text{
  color: #5FB7F7 !important;
}

.blue-link{
  color: #5FB7F7 !important;
}

.blue-link:hover{
  color: #2684c7 !important;
}
/*===================================================================================================
                                              Navbar
====================================================================================================*/

.navbar{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.site-header {
  background-color:var(--white-pearl);
  /* box-shadow: 1px 1px 10px -5px grey; */
  border-bottom: 2px solid rgba(180, 180, 180, 0.315);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  justify-content: space-between !important; 
  align-items:center !important;
}

.site-header a {
  color:var(--grey);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600 !important;
  transition: ease-in-out color .15s;
}

.site-header i {
  font-size: larger !important;
}

.site-header a:hover {
  text-decoration: none;
}

.nav-item{
  padding-left: .5rem;
  padding-right: .5rem;
}

.brand{
  font-size: 1.5rem !important;
  font-weight: bold !important;
}
.navlinks{
  margin: 0;
  padding-left: 0;
  display: inline-block !important;
}
.navlinks li{
  display: inline-block !important;
}

.nav-avatar{
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.nav-search{
  width: 50%;
  height: 40px;
  margin: auto;
}

.nav-search .search-field{
  border: 1px rgba(128, 128, 128, 0.459) solid;
  padding: 0 15px;
  background-color: white;
}

.nav-search .search-field input:focus{
  box-shadow: none !important;
}


.left-divider{
  border-left: 1px solid rgba(128, 128, 128, 0.356);
}
.right-divider{
  border-right: 1px solid rgba(128, 128, 128, 0.356);
}




/*===================================================================================================
                                              Landing Page
====================================================================================================*/

.menubar{
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
  margin-top: 2rem;
}

.option-wrapper{
  flex-wrap: wrap;

}
.option-wrapper .option-item{
  position: relative;
  margin: 10px;
}

.option-item .option-innner{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 5px -2px gray;
  border: 2px solid transparent;
}

.option-item .checkbox{
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
}

.option-item .name{
  font-size: medium;
}

.option-item .option-innner:hover{
  transition: .3s ease;
}

.option-item .checkbox:checked ~ .option-innner{
  color: white;
  background-color: grey;
  box-shadow: none;
}

.story-section{
  border-left: 1px solid gray;
}

.storybox {
  color: #fff;
  height: 75px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
  margin-bottom: 20px;
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.story-body img {
  width: 42px;
  height: 42px;
  float: center !important;
  border: 2px dotted #fff;
}
.img-circle {
  border-radius: 50%;
}

.story-body h4 {
  font-family: 'Abhaya Libre', serif;
  font-size: 14px;
  color: #fff;
  line-height: 1;
}

.story-body p {
  font-family: 'Abhaya Libre', serif;
  font-size: 12px;
  color: #fff;
  line-height: 1;
}

/*============================================================================================================================
                                                        Display Setting
 ============================================================================================================================*/


 /* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

@media (max-width: 320px){
  .nav-pills .nav-item a {
    padding: .1rem .8rem !important;
  }
  
}

@media (max-width: 360px){

  .nav-pills .nav-item a {
    padding: .1rem 1.6rem;
  }
}

@media (max-width: 575.98px){

  .nav-search{
    width: 90%;
    height: 40px;
  }

  .nav-search .search-field{
    border-radius: 10px;
  }

  .site-header {
    justify-content: space-around !important; 
    align-items: center !important;
  }

  .menubar{
    font-size: small;
    justify-content: space-between !important;
  }

  .nav-pills .nav-item a {
    padding: .1rem 1.6rem;
  }
  
}

/***************************************************************************************************************************
                                        Small devices (landscape phones, 576px and up) 
****************************************************************************************************************************/

@media (min-width: 576px){

  .nav-search{
    width: 90%;
    height: 40px;
  }

  .nav-search .search-field{
    border-radius: 10px;
  }

  .site-header {
    justify-content: space-around !important; 
    align-items: center !important;
  }

  .menubar{
    font-size: small;
    justify-content: space-between !important;
  }

  .nav-pills .nav-item a {
    padding: .1rem 1.6rem;
  }

  /*===================================================================
                                Landing page
  ===================================================================== */

 

}



/************************************************************************************************************************
                                     Medium devices (tablets, 768px and up) 
*************************************************************************************************************************/

@media (min-width: 768px){

  .site-header {
    justify-content: space-between !important; 
    align-items:center !important;
  }

  .menubar{
    font-size: medium;
    justify-content: space-around !important;
  }

  .nav-search{
    width: 35%;
    height: 40px;
  }

  .nav-search .search-field{
    border-radius: 40px;
  }

  .nav-pills .nav-item a {
    padding: .1rem 1.5rem;
  }
}



/***********************************************************************************************************
                                    Large devices (desktops, 992px and up) 
***********************************************************************************************************/

@media (min-width: 992px){

  .site-header {
    justify-content: space-between !important; 
    align-items:center !important;
  }

  .nav-search{
    width: 40%;
    height: 40px;
  }
  .nav-search .search-field{
    border-radius: 40px;
  }

  .menubar{
    font-size: medium;
    justify-content: space-around !important;
  }

  .nav-pills .nav-item a {
    padding: .1rem 1.5rem;
  }

}


/************************************ Extra large devices (large desktops, 1200px and up) ******************************/
@media (min-width: 1200px)
{

  .site-header {
    justify-content: space-between !important; 
    align-items: center !important;
  }

  .nav-search{
    width: 40%;
    height: 40px;
  }
  .nav-search .search-field{
    border-radius: 40px;
  }

  .menubar{
    font-size: medium;
    justify-content: space-around !important;
  }

  .nav-pills .nav-item a {
    padding: .1rem 1.5rem;
  }

}




/*=======================================
  Extra utilities
  ======================================*/

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #E82210 !important;
}

  .round-control-label{
    border: 1px solid var(--yellow-green);
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
  }

  .round-radio-input{
    position: absolute;
    left:40px;
    opacity: 0;
  }

  .round-radio-input:checked ~ .round-control-label{
    background-color: var(--yellow-green) !important;
    color: white;
  }

  .round-check-input{
    position: absolute;
    left:40px;
    opacity: 0;
  }

  .round-check-input:checked ~ .round-control-label{
    background-color: var(--yellow-green) !important;
    color: white;
  }

  .custom-control-input:hover,.custom-control-label:hover{
    cursor: pointer;
  }

  .custom-control-input:focus~.custom-control-label::before {
    border-color: var(--yellow-green) !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
  }

  .custom-control-input:checked~.custom-control-label::before {
    border-color: var(--yellow-green) !important;
    background-color: var(--yellow-green) !important;
  }

  .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #5bd778 !important;
  }

  .custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: #d6f5dd !important;
    border-color: #d6f5dd !important;
  }

  .overflow-hidden {
    overflow: hidden;
  }
